.boc {
    background: #005a9e;
}
.box0 {
    display: flex;
    padding: 26px 120px 40px;
}
.box1 {
    border: 2px dotted #ffffff;
    text-align: center;
    padding:20px;
}
img {
    max-width: 180px;
}
.box2 {
    display: flex;
    white-space: nowrap;
    padding: 0px;
}
ul {
    flex: 1;
}
li {
    list-style: none;
    padding:5px;
    line-height: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: #ffffff;
}
a {
    text-decoration: none;
}
#p1 {
    font-size: 8px;
    font-weight: 400;
}  
h4 {
    line-height: 21.09px;
}
.box00 {
    background: #004578;
}
.cuoi {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #c7e0f4;
    padding: 5px 120px;
}
ul {
    padding-left: 100px;
}
a:hover {
    text-decoration: underline;
}

li:first-child{
    font-weight: 900;
}
li:not(first-child){
    font-weight: 100;
}
